/*body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1634128221889-82ed6efebfc3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    overflow: hidden;

}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100dvh;
    background-color: #3F2420;
    background-image: url('https://images.unsplash.com/photo-1583607264434-2d8e199b3a17?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
    
}
a:hover {
    
    text-shadow: 0px 2px 10px rgba(250, 245, 245, 0.3);

}

/* Sticky */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
   
  }
  
  .sticky + .contentX {
    padding-top: 60px;
  }

  /* .sticky + .main + #hero{
    padding-top: 0px;
    margin-bottom: 0px
  } */

/* Header */

.wrapper{
    color:white;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 0rem 2rem;
    padding-top:0rem;
    padding-bottom: 2rem;
    /* padding-top:1rem */

}

.container{
  /* margin-botton: 20px; */
  padding: 25px;
  width: 100%;
  max-width: 650px;
  background-color: rgba(61, 36, 35, 0.8);
  border-radius: 7px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
  
 
}

header {
    position: relative;
    padding: 0 2rem;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    z-index: 9999;

}

#header{
  margin-bottom: 10px;

}
.top{
  border: 1px solid #422E27;
}
.main {
    display: flex;
	  align-items: center;
	  justify-content: center;
    flex-direction: column;
    
}

.contents{
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    border:1px solid green;
    margin-top:70px;
   


}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}

.navbar .logo a {

    font-size: 1.5rem;
    font-weight: bold;
    text-transform:capitalize;
    letter-spacing: 1px;
    
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{

    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none; 
    border-radius: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}


/* Dropdown menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0px;
    width: 300px;
    /* background: rgb(225, 225, 225, .7); */
    background-color: rgba(61, 36, 35, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 7px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.dropdown_menu.open{
    height: 285px;

}

.dropdown_menu li{
    padding: 0.53rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 90%;
    display: flex;
    justify-content: center;
}

/* Hero */


section#hero{

    /* height: calc(80vh - 120px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    
}
#hero h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


/* Responsive part */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }
    
    }
    
    @media(max-width: 576px){

        section#hero{

            /* height: calc(80vh - 100px); */
            /* border: 1px solid white; */
            
        }
        .dropdown_menu{
            left: 2rem;
            width: unset;
        }

        .audio{
            width: 250px;
        }

        .input{
            width: 240px;
            margin-right: 0.5rem;
        }
    }


.labheader{
    margin: 0px;
    padding: 25px;
    width: 100%;
    max-width: 650px;
    background-color: rgba(61, 36, 35, 0.8);
    border-radius: 7px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:white;
    margin-bottom: 10px;
}

.labheader.hoo1{
    font-size: 10rem;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    font-size: 1rem;
    margin-bottom: 0.1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    padding-bottom: 0.1rem;
}

.input {
    height: 55px;
    max-width: 280px;
    background-color: rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .2);
    font-size: 16px;
    font-weight: 600;
    padding: 0px 40px;
    border-radius: 7px;
    
    
}
/* 
.meaning-container {
    display: none;
} */

.container p {
    padding-top: 0.5rem;
}

input:focus{
    
    outline-color: #02ADDB
}

/* Drag and Drop ------------------------------------ */


#drag-and-drop {
    width: 100%;
    overflow: auto;
  }
  
  .draggable.items,
  .droppable {
    
    float: left;
    min-height: 200px;
    width: 45%;
  }

  .droppable {
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgba(114, 163, 201, 0.6);
    
  }
  
  .draggable.items {
    border-color: #fff;
  }
  
  .droppable {
    float: right;
    padding: 5px;
  }
  
  .droppable.active {
    border: 2px white dashed;
    
  }

  .green {
    background-color: green;
  }
  
  .draggable.item {
    border: 2px white solid;
    margin: 10px 5px;
    padding: 10px;
    
    border-radius: 10px;
  }
  
  .draggable.item.move:hover {
    cursor: move;
  }
  
  .draggable.item.copy:hover {
    cursor: copy;
  }
  
  .draggable.item.active {
    border: 2px #ccc dashed;
    /* background-color: green; */
  }

  .drop-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .clear{
    border: none;
    background-color: #02ADDB;
    color:white;
    font-size: 1rem;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    align-items: center;
	justify-content: center;
           
   
    cursor: pointer;
  }

  .clear:hover{
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
  }

  .hide{
    display: none;
    visibility: 0;

  }


  /*  dom node modifications -------------------- */

  #dom-node {
    
    width: 100%;
    overflow: auto;
    
  }

  .domcontent{
    padding-top: 0.2rem;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    /* letter-spacing: 0.2rem; */
  }
  
  .buttons,
  .nodes,
  .storagesave,
  .storageget {
    
    float: left;
    min-height: 200px;
    width: 45%;
    justify-content: center;
    align-items: center;
  }
  .storagesave{
    display: flex;
    flex-direction: column;
  }

  .nodes {
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgba(114, 163, 201, 0.6);
    
  }
  
    
  .nodes,
  .storageget {
    float: right;
    padding: 5px;
  }
  
  .green {
    background-color: green;
  }
  
  

  .dom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .clear,
  .nodebutton,
  .savestorage,
  .getstorage,
  .removestorage,
  .htmxbutton{
    border: none;
    background-color: #02ADDB;
    color:white;
    font-size: 1rem;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    align-items: center;
	  justify-content: center;
     cursor: pointer;
  }

  .nodebutton,
  .savestorage,
  .getstorage,
  .removestorage,
  .htmxbutton{
    padding: 0.5rem;
    margin: 0.2rem;
    width: 9rem;
  }




  .clear:hover,
  .nodebutton:hover{
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
  }

  .link{
    text-decoration: underline;
  }

  .link:hover{
   
    color:#19fc24;
    
  }

  .linkinput,
  .textinput,
  .storageinput{
    padding:0.2rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 9rem;
  }

  .hide{
    display: none;
    visibility: 0;

  }

  .linkempty,
  .textempty{
    color:white;
    background-color: rgba(255, 0, 0, 0.5)
  }

  .target {
    color: #19fc24;
  }


  
  /* local storage ---------------------------- */

  .storagecontainer{
    display: flex;
    gap:1rem;
  }
  .storageddata,
  .storagedtimestamp{
     overflow: hidden;
  }

  .result,
  .resultfound{
    
    padding:0.1rem;
    display: flex;
    align-items: center;
	  justify-content: left;
    gap:0.5rem;
}

.store{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.datafound{
  font-size: 1rem;
  color: grey;
}

.storagesaved{
  align-items: center;
	justify-content: center;
  color:white;
  font-size: 14px;
  font-weight: 700;
  
  
}

.storagetext{
  height:20px;
  border: 1px solid white;
  color: red;
  background-color: #19fc24;
}

/* media */

@media(max-width: 420px){

  .nodebutton,
  .linkinput,
  .textinput,
  .savestorage,
  .getstorage,
  .removestorage,
  .storageinput{
      padding: 0.5rem;
      margin: 0.2rem;
      width: 7rem;
    }
    .result{
      padding-bottom: 0.1rem;
      flex-direction: column;
      gap:0rem;
    }



}

/* htmx api request  -----------------------------*/

label {
  display: block;
  margin-top: 20px;
}

#htmxdoms {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.htmx-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  width:80%
}

.htmx-item{
display: flex;
  align-items: left;
  justify-content: left;
}

.htmx-input{
 width: 100%;
  padding: 8px 20px;
  margin-top: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
}

#htmx-target-container {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 0px;
  font-size: 1rem;
  width: 100%;
  color: #333;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px 5px;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

@keyframes bounce-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.bounce-it {
  view-transition-name: bounce-it;
}
::view-transition-old(bounce-it) {
  animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both bounce-out;
}
::view-transition-new(bounce-it) {
  animation: 600ms cubic-bezier(0.4, 0, 0.2, 1) both bounce-in;
}

/* angular */

.angular-item{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

.responsive-img{
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #585252;
}