/*body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1634128221889-82ed6efebfc3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    overflow: hidden;

}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100dvh;
    background-color: #3F2420;
    background-image: url('https://images.unsplash.com/photo-1583607264434-2d8e199b3a17?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}




li{
    list-style: none;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
    
}
a:hover {
    
    text-shadow: 0px 2px 10px rgba(250, 245, 245, 0.3);

}

/* Sticky */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .sticky + .contentX {
    padding-top: 60px;
  }

  .sticky + .main + #hero{
    padding-top: 0px;
    margin-bottom: 0px
  }

/* Header */

.wrapper{
    color:white;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 0rem 2rem;
    padding-top:1rem;
    /* padding-top:1rem */

}

/* #header::after{
    height:20px;

}

header.child{

    background-color: #02ADDB;
} */

#header {
    position: relative;
    padding: 0 2rem;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    z-index: 9999;
    
    
}
.main {
    display: flex;
	align-items: center;
	justify-content: center;
    
    flex-direction: column;
    /* border:1px solid green; */
    /* margin-top:120px;
    top:200px;
    padding-block: 2rem; */
}

.contents{
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    border:1px solid green;
    margin-top:70px;
   


}
#header{
    /* top:0; */
    /* border:1px solid white; */
    /* margin-bottom:120px */
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}

.navbar .logo a {

    font-size: 1.5rem;
    font-weight: bold;
    text-transform:capitalize;
    letter-spacing: 1px;
    
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{

    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none; 
    border-radius: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}


/* Dropdown menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0px;
    width: 300px;
    /* background: rgb(225, 225, 225, .7); */
    background-color: rgba(61, 36, 35, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 7px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.dropdown_menu.open{
    height: 285px;

}

.dropdown_menu li{
    padding: 0.53rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 90%;
    display: flex;
    justify-content: center;
}

/* Hero */
.top {
     margin-bottom:50px; 
    top:0px;
    border: 1px solid green;
}

section#hero{

    /* height: calc(80vh - 120px); */
    /* top:100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /* padding: 2rem; */
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
    
    /* margin-bottom: 10px; */

}
#hero h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


/* Responsive part */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    
    .dropdown_menu{
        display: block;
    }
    
    }
    
    @media(max-width: 576px){

        section#hero{

            /* height: calc(80vh - 100px); */
            /* border: 1px solid white; */
            
        }
        .dropdown_menu{
            left: 2rem;
            width: unset;
        }

        .audio{
            width: 250px;
        }

        .input{
            width: 240px;
            margin-right: 0.5rem;
        }
    }




.container{
    margin: 20px;
    padding: 25px;
    width: 100%;
    max-width: 650px;
    background-color: rgba(61, 36, 35, 0.8);
    border-radius: 7px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:white;
    margin-top: 10px;
    
   
}

.labheader{
    margin: 0px;
    padding: 25px;
    width: 100%;
    max-width: 650px;
    background-color: rgba(61, 36, 35, 0.8);
    border-radius: 7px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:white;
    margin-bottom: 10px;
}

.labheader.hoo1{
    font-size: 10rem;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    padding-bottom: 1rem;
}

.input {
    height: 55px;
    max-width: 280px;
    background-color: rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .2);
    font-size: 16px;
    font-weight: 600;
    padding: 0px 40px;
    border-radius: 7px;
    
    
}
/* 
.meaning-container {
    display: none;
} */

.container p {
    padding-top: 0.5rem;
}

input:focus{
    
    outline-color: #02ADDB
}

/* Drag and Drop ------------------------------------ */


#drag-and-drop {
    width: 100%;
    overflow: auto;
  }
  
  .draggable.items,
  .droppable {
    
    float: left;
    min-height: 200px;
    width: 45%;
  }

  .droppable {
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgba(114, 163, 201, 0.6);
    
  }
  
  .draggable.items {
    border-color: #fff;
  }
  
  .droppable {
    float: right;
    padding: 5px;
  }
  
  .droppable.active {
    border: 2px white dashed;
    
  }

  .green {
    background-color: green;
  }
  
  .draggable.item {
    border: 2px white solid;
    margin: 10px 5px;
    padding: 10px;
    
    border-radius: 10px;
  }
  
  .draggable.item.move:hover {
    cursor: move;
  }
  
  .draggable.item.copy:hover {
    cursor: copy;
  }
  
  .draggable.item.active {
    border: 2px #ccc dashed;
    /* background-color: green; */
  }

  .drop-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .clear{
    border: none;
    background-color: #02ADDB;
    color:white;
    font-size: 1rem;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    align-items: center;
	justify-content: center;
           
   
    cursor: pointer;
  }

  .clear:hover{
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
  }

  .hide{
    display: none;
    visibility: 0;

  }


  /*  dom node modifications -------------------- */

  #dom-node {
    width: 100%;
    overflow: auto;
  }

  .domcontent{
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .buttons,
  .nodes {
    
    float: left;
    min-height: 200px;
    width: 45%;
  }

  .nodes {
    border: 2px white solid;
    border-radius: 10px;
    background-color: rgba(114, 163, 201, 0.6);
    
  }
  
    
  .nodes {
    float: right;
    padding: 5px;
  }
  
  .green {
    background-color: green;
  }
  
  

  .dom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .clear,
  .nodebutton{
    border: none;
    background-color: #02ADDB;
    color:white;
    font-size: 1rem;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    align-items: center;
	justify-content: center;
     cursor: pointer;
  }

  .nodebutton{
    padding: 0.5rem;
    margin: 0.2rem;
    width: 9rem;
  }




  .clear:hover,
  .nodebutton:hover{
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.6);
  }

  .link:hover{
    color: orange;
  }

  .linkinput,
  .textinput{
    padding:0.2rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 9rem;
  }

  .hide{
    display: none;
    visibility: 0;

  }

  .linkempty,
  .textempty{
    color:white;
    background-color: rgba(255, 0, 0, 0.5)
  }